<div class="container">
  <div class="d-flex align-items-center" style="width:100%; height:100px;">
    <h3><span class="bg-light">商品詳細</span></h3>
  </div>
 
   <div class="d-inline-block m-5">
    <!--画像付け足す-->
    <%= attachment_image_tag @item, :image, :fill, 300, 250, format:"jpeg",fallback:"noimage-1024x898.png", size:"300x250" %>
   </div>
    <div class="d-inline-block m-5">
      <table>
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @item.introduction %></td>
            </tr>
               <tr>
                 <td>ジャンル</td>
                 <td><%= @item.genre.name %></td>
               </tr>
                 <tr>
                   <td>税込価格（税抜価格）</td>
                   <td><%= (@item.price * 1.1).round %>(<%= @item.price %>)円</td>
                 </tr>
                   <tr>
                     <td>販売ステータス</td>
                     <td></td>
                   </tr>
        </tbody>
      </table>
          <!--<%= link_to "編集する", edit_admin_item_path %>-->
         <div class="text-center">
          <a href="/admin/items/<%= @item.id %>/edit" class="btn btn-success" role="button">編集する</a>
         </div>
    </div>
  
</div>
