<div class="container">
 <div class="d-flex align-items-center" style="width:100%; height:100px;">
  <h3><span class="bg-light">配送先編集</span></h3>
 </div>
　<%= form_with model:@address, local:true do |f| %>
　 <table>
　   <tbody>
　     <tr>
　       <td>
　         郵便番号(ハイフンなし)
　       </td>
　       <td>
　         <%= f.text_field :postal_code %>
　       </td>
　     </tr>
　      <tr>
　        <td>
　          住所
　        </td>
　        <td>
　          <%= f.text_field :address %>
　        </td>
　      </tr>
　       <tr>
　         <td>
　           宛名
　         </td>
　         <td>
　           <%= f.text_field :name %>
　         </td>
　         <td>
　           <!--<%= f.submit "変更内容を保存" %>-->
　           <input type="submit" class="btn btn-success" value="変更内容を保存">
　         </td>
　       </tr>
　   </tbody>
　 </table>
　<% end %>
</div>