<div class="container">
  <div class="d-flex align-items-center" style="width:100%; height:100px;">
   <h3><span class="bg-light">配送先登録/一覧</span></h3>
  </div>
　  <%= form_with model:@address, local:true do |f| %>
　   <table>
　    <tbody>
　     <tr>
　      <td>
　        郵便番号(ハイフンなし)
　      </td>
　      <td>
　        <%= f.text_field :postal_code %>
　      </td>
　     </tr>
　     <tr>
　       <td>
　         住所
　       </td>
　       <td>
　         <%= f.text_field :address %>
　       </td>
　     </tr>
　     <tr>
　       <td>
　         宛名
　       </td>
　       <td>
　         <%= f.text_field :name %>
　       </td>
　       <td>
　         <!--<%= f.submit "新規登録" %>-->
　         <input type="submit" class="btn btn-success" value="新規登録">
　       </td>
　     </tr>
　   </tbody>
　 </table>
　<% end %>
　 
　
　 <table class="table table-bordered">
　   <thead>
　     <tr class="bg-light">
　       <th>
　         郵便番号
　       </th>
　       <th>
　         住所
　       </th>
　       <th>
　         宛名
　       </th>
　       <th></th>
　     </tr>
　   </thead>
　    <tbody>
　     <% @addresses.each do |addresses| %>
　      <tr>
　        <td>
　          <%= addresses.postal_code %>
　        </td>
　        <td>
　          <%= addresses.address %>
　        </td>
　        <td>
　          <%= addresses.name %>
　        </td>
　        <td>
　           <!--<%= link_to "編集する", edit_address_path(addresses) %>-->
　           <a href="/addresses/<%= addresses.id %>/edit" class="btn btn-success" role="button">編集する</a>
　           <!--<%= link_to "削除する", address_path(addresses), method: :delete, "data-confirm" => "本当に削除しますか？" %>-->
　           <a href="/addresses/<%= addresses.id %>" class="btn btn-danger" role="button" data-method="delete">削除する</a>
　        </td>
　      </tr>
　     <% end %>
　    </tbody>
　 </table>
　
</div>