<h1>注文情報確認</h1>
　<table>
　  <thead>
　    <tr>
　      <th>商品名</th>
　      <th>単価(税込)</th>
　      <th>数量</th>
　      <th>小計</th>
　    </tr>
　  </thead>
　   <% @sum = 0 %>
　   <% @cart_items.each do |cart_item| %>
　    <tbody>
　      <tr>
　        <td><%= attachment_image_tag cart_item.item, :image, :fill, 100, 100, format:"jpeg" %><%= cart_item.item.name %></td>
　        <td><%= (cart_item.item.price * 1.1).round %></td>
　        <td><%= cart_item.amount %></td>
　        <td><%= (cart_item.item.price * 1.1 * cart_item.amount).round %><% @sum += (cart_item.item.price * 1.1 * cart_item.amount).round %></td>
　      </tr>
　    </tbody>
　   <% end %>
　</table>
　 <table>
　     <tbody>
　         <tr>
　             <td>送料</td>
　             <td>800</td>
　         </tr>
　           <tr>
　               <td>商品合計</td>
　               <td><%= @sum %></td>
　           </tr>
　             <tr>
　                 <td>請求金額</td>
　                 <td><%= @sum + 800 %></td>
　             </tr>
　     </tbody>
　 </table>
　
　<strong>支払方法</strong>
　　
   <%= @payment %>
   
   
  <strong>配送先</strong>
  　〒<%= @order_postal_code %>
  　<%= @order_address %>
  　<%= @order_name %>
  　
  　<%= form_with model: @order, local: true do |f| %>
  　
  　    <%= f.hidden_field :customer_id, :value => current_customer.id %>
       <%= f.hidden_field :order_postal_code, :value => @order_postal_code %>
       <%= f.hidden_field :order_address, :value => @order_address %>
       <%= f.hidden_field :order_telephone_number, :value => current_customer.telephone_number %>
       <%= f.hidden_field :order_name, :value => @order_name %>
       <%= f.hidden_field :shipping, :value => 800 %>
     <% if @payment == "クレジットカード" %>
       <% @payment = 1 %>
     <% elsif @payment == "銀行振込" %>
       <% @payment = 2 %>
     <% end %>
       <%= f.hidden_field :payment, :value => @payment %>
       <%= f.hidden_field :total_amount, :value => @sum %>
        <%= f.fields_for :details do |detail| %>
        
        <%= f.hidden_field :order_price, :value => (@sum / 1.1).round %>
        <%= f.hidden_field :order_tax_price, :value => @sum %>
         <% @cart_items.each do |cart_item| %>
        <%= f.hidden_field :item_id, :value => cart_item.item.id %>
        <%= f.hidden_field :amount, :value => cart_item.amount %>
         <% end %>
        <% end %>
       <%= f.submit "注文を確定する" %>
    <% end %>