<div class="container">
 <div class="d-flex align-items-center" style="width:100%; height:100px;">
  <h3><span class="bg-light">注文履歴一覧</span></h3>
 </div>

<table class="table table-bordered">
  <thead>
    <tr class="bg-light">
      <td>注文日</td>
      <td>配送先</td>
      <td>注文商品</td>
      <td>支払金額</td>
      <td>ステータス</td>
      <td>注文詳細</td>
    </tr>
  </thead>
  　<tbody>
  　 <% @orders.each do |order| %>
  　   <tr>
       <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
        <td>
          <div class="list-unstyled">
            <li>〒<%= order.order_postal_code %></li>
            <li><%= order.order_address %></li>
            <li><%= order.order_name %></li>
          </div>
        </td>
        <td>
         <div class="list-unstyled">
           <% order.details.each do |detail| %>
          <li><%= detail.item.name %></li>
           <% end %>
         </div>
        </td>
        <td><%= order.total_amount + order.shipping %>円</td>
        <td></td>
        <td><a href="/orders/<%= order.id %>" class="btn btn-primary" role="button">表示する</a></td>
      </tr>
  　 <% end %>
  　</tbody>
</table>
</div>