<h1>注文履歴詳細</h1>

 <p><strong>注文情報</strong></p>
  <table>
    <tbody>
      <tr>
        <td>注文日</td>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
        <tr>
          <td>配送先</td>
          <td>〒<%= @order.order_postal_code %></br>
                <%= @order.order_address %></br>
                <%= @order.order_name %>
          </td>
        </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @payment %></td>
          </tr>
            <tr>
              <td>ステータス</td>
              <td></td>
            </tr>
    </tbody>
  </table>
  
  <p><strong>注文内容</strong></p>
   <table>
    <thead>
     <tr>
       <td>商品</td>
       <td>単価(税込)</td>
       <td>個数</td>
       <td>小計</td>
     </tr>
  　</thead>
      <tbody>
        <% @details.each do |detail| %>
         <tr>
          <td><%= detail.item.name %></td>
          <td><%= detail.order_tax_price %></td>
          <td><%= detail.amount %></td>
          <td><%= detail.order_tax_price * detail.amount %></td>
         </tr>
        <% end %>
      </tbody>
  </table>
  
   <table>
     <tbody>
       <tr>
         <td>商品合計</td>
         <td><%= @order.total_amount %></td>
       </tr>
         <tr>
           <td>配送料</td>
           <td><%= @order.shipping %></td>
         </tr>
           <tr>
             <td>請求金額</td>
             <td><%= @order.total_amount + @order.shipping %></td>
           </tr>
     </tbody>
   </table>