<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <ul>
         <% if admin_signed_in? %>
          <li><%= link_to "商品一覧", admin_items_path %></li>

          <li><%= link_to "注文履歴一覧", "/admin" %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete  %></li>
        
         <% end %>
       </ul>
    </header>
    <%= yield %>
  </body>
</html>
